In [ ]:
# скачиваем файл
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv

In [4]:
import pandas as pd
data = pd.read_csv('math_students.csv', delimiter=',')

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [19]:
data['reason'].value_counts(1)
#Reason:

course        0.367089
home          0.275949
reputation    0.265823
other         0.091139
Name: reason, dtype: float64

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [26]:
data.loc[data['Medu'] == 0].loc[data['Fedu'] == 0].head()
#Table:

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [30]:
data.loc[data['school'] == 'MS']['age'].min()
#Result:

17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [34]:
data.loc[data['absences']% 2 == 1].count()
#Result:

school        41
sex           41
age           41
address       41
famsize       41
Pstatus       41
Medu          41
Fedu          41
Mjob          41
Fjob          41
reason        41
guardian      41
traveltime    41
studytime     41
failures      41
schoolsup     41
famsup        41
paid          41
activities    41
nursery       41
higher        41
internet      41
romantic      41
famrel        41
freetime      41
goout         41
Dalc          41
Walc          41
health        41
absences      41
G1            41
G2            41
G3            41
dtype: int64

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [45]:
romantik = data.loc[data['romantic'] == 'yes']['G3'].mean()
unromantic = data.loc[data['romantic'] == 'no']['G3'].mean()
rez = romantik - unromantic

#Result:

1.2607443253831079

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [47]:
data1 = data.loc[data['activities'] == 'yes']
data1['absences'].value_counts()
#Result:

0     51
2     37
4     29
6     17
8     16
10     9
14     7
3      4
16     4
7      3
12     3
15     3
11     2
9      2
18     2
20     2
1      2
13     1
54     1
17     1
5      1
22     1
25     1
30     1
56     1
Name: absences, dtype: int64